# Monorepo ignores
/backend/node_modules
/frontend/node_modules
/backend/.env
/frontend/.env
/backend/coverage
/frontend/dist
/backend/dist

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel/
